.aboutLink {
  &:hover {
    opacity: 0.8;
  }
}

.aboutLogo {
  height: 100px;
  width: auto;
  margin: calc(1rem - 15px) 0 1rem;
  align-self: center;
}

.aboutText {
  text-align: center;
  display: flex;
  flex-flow: column;
}
